.projectSection {
  background-color: var(--second-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100%;
}

.projectContainer {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-auto-rows: auto;
  text-align: center;
  gap: 2rem;
}

.projectSection .projectSectionHead {
  color: var(--text-color);
  margin-bottom: 1rem;
  font-size: 2rem;
}

@media (max-width: 650px) {
  .projectContainer {
    grid-template-columns: 1fr 1fr;
  }
}
