.contactInfoBlock {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactInfoBlock h2 {
  border-bottom: 2px solid var(--accent);
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  width: fit-content;
}
