.navList {
  background-color: #46394b;
  color: white;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #ffffff;
}

.navList .Logo {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  margin: 0;
  position: absolute;
  left: 1rem;
}

.navList ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navList .Link {
  text-decoration: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 5px 10px;
}

.navList .Link.active {
  font-weight: bold;
  border-bottom: 4px solid #9932cc;
}
