.navigation {
  background-color: #46394b;
  color: white;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #ffffff;
}

.navigation p {
  font-size: 1rem;
  margin: 0;
  position: absolute;
  left: 10px;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.navigation li {
  font-size: 0.8rem;
  padding: 5px 10px;
}
