.header {
  text-align: center;
  width: 100%;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120vh;
  background-color: rgb(0, 0, 0);
  color: white;
  border-bottom: 3px solid rgb(202, 202, 202);
}

.header em {
  color: #9932cc;
  font-style: normal;
  font-size: 2rem;
}
.header strong {
  font-size: 2rem;
}

.header h1 {
  font-size: clamp(15px, 2.5vw, 25px);
  margin-bottom: 30px;
}

.header video {
  max-height: 50vh;
  max-width: 50vw;
  min-height: 5vh;
  min-width: 5vw;
}
