.skillsSection {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  background-color: #121212;
  gap: 2rem;
  padding: 5rem;
}

@media (max-width: 650px) {
  .skillsSection {
    grid-template-columns: 1fr;
  }
}
