.skillsSection {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1.25fr 1fr;
  text-align: center;
  background-color: #121212;
}

.skillsSection div {
  padding: 2rem;
}

.skillsSection ul {
  list-style: none;
  grid-column: 2;
  margin: 0;
  text-align: left;
}

.skillsSection ul li {
  position: relative;
  padding-left: 2rem;
  margin: 0.5rem;
  text-align: left;
  font-size: 0.9rem;
}

.skillsSection ul li::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.1rem;
  height: 1.1rem;
  background-image: url('/public/angle-double-right.png');
  background-size: contain;
  background-repeat: no-repeat;
}
