.footerInfo {
  background-color: black;
  color: #ffffff;
  padding: 1.3rem;
  margin-top: auto;
}

.footerInfo .Logos {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  gap: 2.5rem;
  margin-bottom: 1rem;
}

.footerInfo div {
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
}
